<div class="container-fluid clearfix">
        
              <div class="row row-offcanvas row-offcanvas-right">
        
                <div class="col-12 col-md-9">
                  <!-- <p class="float-right hidden-md-up">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
                  </p> -->
                  <div class="media">
                        <img class="d-flex mr-3 img-thumbnail img-resp" src="../../assets/img/jorge.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="mt-0">Media heading</h5>
                          <p>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </p> 
                        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                        </div>
                </div>
                  <div class="row">
                    <div class="col-12 col-lg-8">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!--/span-->
                    <div class="col-6 col-lg-4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!--/span-->
                    <div class="col-6 col-lg-4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!--/span-->
                    <div class="col-6 col-lg-4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!--/span-->
                    <div class="col-6 col-lg-4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!--/span-->
                    <div class="col-6 col-lg-4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                    </div><!--/span-->
                  </div><!--/row-->
                </div><!--/span-->
        
                <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                  <div class="list-group">
                    <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                  </div>
                </div><!--/span-->
              </div><!--/row-->
        
              <hr>
        
             
        
            </div>